#app {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.scene {
  flex-grow: 1;
  height: 100%;
}

.status {
  font-size: 1.5em;
  margin: 2em;
  width: 10em;
}

.key {
  font-weight: bold;
  font-family: mono, Courier, monospace;
  background-color: white;

  border: 1px solid #eee;
  border-bottom: 6px solid #666;
  border-left: 4px solid #999;
  border-radius: 0.2em;

  padding-left: 4px;
  padding-right: 4px;
}

canvas {
  width: 100%;
}